# folders
/**/node_modules
coverage
/**/tests
migrations
tools
bin

# config files
migrate-mongo-config.js
jest-mongodb-config.js
jest.config.js
ecosystem.config.js
.travis.yml
.eslintrc.js
.eslintignore
.env*
.codecov.yml
.editorconfig

# git files
.github
.git
.gitignore
