# folders
node_modules
coverage
/**/tests
tools
bin

# config files
jest-mongodb-config.js
jest.config.js
ecosystem.config.js
.travis.yml
.eslintrc.js
.eslintignore
.env*
.codecov.yml
.editorconfig

# git files
.github
.git
.gitignore
