# RabbitMQ connection URL
RABBIT_URL=amqp://localhost

# RabbitMQ queue name
RABBIT_QUEUE_NAME=test

# RabbitMQ Consumer prefetch value (How many tasks can do simultaneously)
SIMULTANEOUS_TASKS=1

# MongoDB connection URL
MONGO_URL=mongodb://localhost:27017/hawk-dev
