version: "3.2"
services:
  #
  # Programming language workers: javascript (+sourcemaps), nodejs, python
  #

  hawk-worker-javascript:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
    restart: unless-stopped
    entrypoint: yarn run-js
    volumes:
      - ./:/usr/src/app

  hawk-worker-sourcemaps:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
    environment:
      - SIMULTANEOUS_TASKS=1
    restart: unless-stopped
    entrypoint: yarn run-maps
    volumes:
      - ./:/usr/src/app

  hawk-worker-nodejs:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
    restart: unless-stopped
    entrypoint: yarn run-nodejs
    volumes:
      - ./:/usr/src/app

  hawk-worker-php:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
    restart: unless-stopped
    entrypoint: yarn run-php
    volumes:
      - ./:/usr/src/app

  hawk-worker-python:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
    restart: unless-stopped
    entrypoint: yarn run-python
    volumes:
      - ./:/usr/src/app

  hawk-worker-go:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
    restart: unless-stopped
    entrypoint: yarn run-go
    volumes:
      - ./:/usr/src/app

  #
  # Processing workers: grouper
  #

  hawk-worker-grouper:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
    restart: unless-stopped
    entrypoint: yarn run-grouper
    volumes:
      - ./:/usr/src/app

  #
  # System workers: archiver
  #

  hawk-worker-archiver:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
      - workers/archiver/.env
    restart: unless-stopped
    entrypoint: yarn run-archiver
    volumes:
      - ./:/usr/src/app

  #
  # Notification workers: notifier, email, telegram
  #

  hawk-worker-notifier:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
    restart: unless-stopped
    entrypoint: yarn run-notifier
    volumes:
      - ./:/usr/src/app

  hawk-worker-email:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
      - workers/email/.env
    restart: unless-stopped
    entrypoint: yarn run-email
    volumes:
      - ./:/usr/src/app

  hawk-worker-telegram:
    build:
      dockerfile: "dev.Dockerfile"
      context: .
    env_file:
      - .env
    restart: unless-stopped
    entrypoint: yarn run-telegram
    volumes:
      - ./:/usr/src/app

networks:
  default:
    external:
      name: hawkmono_default
