{% extends '../../components/layout.twig' %}

{% block content %}
	<tr>
		<td>
			<img src="{{ hostOfStatic }}/email/low-balance-icon.png" width="32" height="32" hspace="3" style="display: block; vertical-align: middle; margin: 0 auto; margin-top: 23px;">
		</td>
	</tr>
	<tr>
		<td align="center" style="padding-top: 15px; color: #dbe6ff">
			Workspace balance is low
		</td>
	</tr>
	<tr>
		<td align="justify" style="padding-top: 15px; padding-right: 0; padding-left: 0; padding-bottom: 30px;">
			<div style="padding: 20px; border-width: 1px; border-style: solid; border-color: #494F5E; border-radius: 10px;">
				<font color="#dbe6ff" style="font-size: 15px; color: #dbe6ff; letter-spacing: 0.4px;">
					<span style="vertical-align: middle; display: inline-block;">
						You have only <b>{{ workspace.balance / 100 }} USD</b> left on the &laquo;{{ workspace.name }}&raquo; workspace. 
						It is not enough to prolongate the current tarif plan for the next billing period that will starts in <b>5 days</b>. 
						Please replenish the balance.
					</span>
				</font>
			</div>
		</td>
	</tr>
	<tr>
		<td style="padding-right: 20px;padding-left: 20px;padding-bottom: 40px;">
			{% set url = host ~ '/workspace/' ~ workspace._id ~ '/biliing' %}
			{% include '../../components/button.twig' with {href: url, label: 'Go to payment settings'} %}
		</td>
	</tr>

{% endblock %}