<tr>
    <td style="padding: 30px 20px 10px">
        <font color="#dbe6ff"
              style="opacity: 0.6; font-size: 11px; letter-spacing: 0.34px; color: #dbe6ff;">
            {{ file | prettyPath }}
        </font>
    </td>
</tr>
