{% include './filename.twig' with {file: backtrace.file} %}
<tr>
    <td style="padding: 20px 0 10px">
        <table cellpadding="0" cellspacing="0" border="0" width="100%"
               style="padding: 0 10px; font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace; table-layout: fixed; overflow: hidden">
            {% for frame in backtrace.sourceCode %}
                <tr>
                    <td width="13">
                        <div style="padding-left: 10px; border-radius: 6px 0 0 6px; background-color: {{ frame.line == backtrace.line ? 'rgba(149, 61, 135, 0.3);' : 'unset' }}">
                            <font color="#dbe6ff"
                                  style="opacity: 0.4; font-size: 10px; line-height: 2.1; color: #dbe6ff;">
                                {{ frame.line }}
                            </font>
                        </div>
                    </td>
                    <td>
                        <div style="padding: 0 10px 0 20px; border-radius: 0 6px 6px 0; background-color: {{ frame.line == backtrace.line ? 'rgba(149, 61, 135, 0.3);' : 'unset' }}; overflow: auto">
                            <font color="rgba(219, 230, 255, 0.61)"
                                  style="font-size: 12px; line-height: 1.75; color: rgba(219, 230, 255, 0.61); white-space: pre; text-overflow: clip">{{ frame.content | escape }}</font>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </td>
</tr>
