<a href="{{ href }}" style="text-decoration: none">
    <div style="padding-top: 12px;padding-right: 0;padding-left: 0;padding-bottom: 12px;background-color: #4979e4; border-radius: 4px; text-align: center">
        <font color="#dbe6ff"
              style="font-size: 14.4px; font-weight: 500; color: #dbe6ff;">
            {{ label }}
        </font>
    </div>
</a>
