<tr>
  <td style="display: block; padding-top: 13px; padding-right: 20px; padding-bottom: 13px; padding-left: 20px; margin-bottom: 60px; border-width: 1px; border-color: #494f5e; border-style: solid; border-radius: 10px; color: #dbe6ff; text-decoration: none;">
    <font color="#dbe6ff" style="font-size: 15px; letter-spacing: 0.4px; pointer-events: none;">
      <span style="display: block; padding-bottom: 15px;">
        {{ event.payload.title | escape }}
      </span>
    </font>
    {% include './event-info.twig' with {event: { daysRepeated: daysRepeated, event: {totalCount: event.totalCount}, usersAffected: event.usersAffected}} %}
  </td>
</tr>
