{% extends '../../components/layout.twig' %}

{% block header %}
	{% include '../../components/project.twig' with {project: project} %}
{% endblock %}

{% block content %}
    <tr>
      <td class="several-items-event" style="padding-top: 0;padding-right: 20px;padding-left: 20px;padding-bottom: 0;">
        {% if eventData.event.payload.backtrace is not empty %}
          {% include '../../components/filename.twig' with {file: eventData.event.payload.backtrace[0].file} %}
        {% endif %}
        <div style="padding-top: 10px;padding-right: 0;padding-left: 0;padding-bottom: 10px;">
          <font color="#dbe6ff" style="font-size: 13px; line-height: 1.54; letter-spacing: 0.35px; color: #dbe6ff">
            {{ eventData.event.payload.title }}
          </font>
        </div>
        {% include '../../components/event-info.twig' with { event: eventData } %}
      </td>
    </tr>
    <tr height="20" class="several-items-listspace">
      <td></td>
    </tr>
    {% set eventsToShow = 5 %}
    {% for eventData in events | sortEvents | slice(0, eventsToShow) %}
        <tr height="20" class="several-items-listspace">
            <td></td>
        </tr>
        <tr>
            <td class="several-items-event" style="padding-top: 0;padding-right: 20px;padding-left: 20px;padding-bottom: 0;">
                {% if eventData.event.payload.backtrace is not empty %}
                  {% include '../../components/filename.twig' with {file: eventData.event.payload.backtrace[0].file} %}
                {% endif %}
                <div style="padding-top: 10px;padding-right: 0;padding-left: 0;padding-bottom: 10px;">
                    <font color="#dbe6ff"
                          style="font-size: 13px; line-height: 1.54; letter-spacing: 0.35px; color: #dbe6ff">
                        {{ eventData.event.payload.title | escape }}
                    </font>
                </div>
                {% include '../../components/event-info.twig' with { event: eventData } %}
            </td>
        </tr>
        <tr height="20" class="several-items-listspace">
            <td></td>
        </tr>
    {% endfor %}

  <tr>
    <td class="several-items-button-wrap" style="padding-top: 30px;padding-right: 20px;padding-left: 20px;padding-bottom: 40px;">
      {% set utmParams = 'utm_source=email&utm_medium=transactional&utm_campaign=several-events' %}
      {% set url = host ~ '/project/' ~ project._id ~ '?' ~ utmParams %}
      {% if events.length - eventsToShow > 0 %}
        {% set hiddenEventsLen = events.length - eventsToShow %}
        {% set hiddenEventsMessage = 'и еще ' ~ hiddenEventsLen ~ '…' %}
        {% include '../../components/button.twig' with {href: url, label: hiddenEventsMessage} %}
      {% else %}
        {% include '../../components/button.twig' with {href: url, label: 'Смотреть события'} %}
      {% endif %}
    </td>
  </tr>

{% endblock %}

{% block unsubscribeLink %}
  {{ host ~ '/unsubscribe/' ~ project._id }}
{% endblock %}

{% block unsubscribeText %}
  Вы получили это письмо, потому что подписаны на подобные уведомления. Вы можете изменить настройки, перейдя по ссылке выше.
{% endblock %}
