{% extends '../../components/layout.twig' %}

{% block header %}
  {% include '../../components/workspace.twig' with {workspace: workspace} %}
{% endblock %}

{% block content %}
  <tr>
    <td>
      <img src="{{ hostOfStatic }}/email/low-balance-icon.png" width="32" height="32" hspace="3" style="display: block; vertical-align: middle; margin: 23px auto 0;">
    </td>
  </tr>
  <tr>
    <td align="center" style="padding: 15px 0;">
      <font color="#dbe6ff" style="font-size: 15px; text-align: center; color: #dbe6ff; letter-spacing: 0.4px;">
        <span style="vertical-align: middle; display: inline-block;">
          {{ daysAfterBlock }} {{ pluralize_ru(daysAfterBlock, ['день', 'дня', 'дней']) }} без мониторинга
        </span>
      </font>
    </td>
  </tr>
  <tr>
    <td style="display: block; padding: 20px; margin-bottom: 30px; border-width: 1px; border-color: #494f5e; border-style: solid; border-radius: 10px; line-height: 1.47">
      <font color="#dbe6ff" style="font-size: 15px; letter-spacing: 0.4px;">
        <p style="margin-top: 0;">
          Напоминаем, что мониторинг ошибок в «{{ workspace.name | escape }}» всё ещё остановлен, потому что закончился лимит или срок действия тарифного плана.
        </p>
        <p style="margin-bottom: 0;">
          Чтобы снова видеть актуальные события, выберите подходящий тарифный план и продлите подписку в настройках оплаты.
        </p>
      </font>
    </td>
  </tr>
  <tr>
    <td style="padding-right: 20px; padding-left: 20px; padding-bottom: 40px;">
      {% set tariffPlanIdString = workspace.tariffPlanId ~ '' %}
      {% if tariffPlanIdString == '5f47f031ff71510040f433c1' %}
        {% set buttonLabel = 'Выбрать тариф от 99 ₽' %}
      {% else %}
        {% set buttonLabel = 'Открыть настройки' %}
      {% endif %}
      {% include '../../components/button.twig' with {href: host ~ '/workspace/' ~ workspace._id ~ '/settings/billing', label: buttonLabel} %}
    </td>
  </tr>
{% endblock %}
