{% extends '../../components/layout.twig' %}

{% block content %}
  <tr>
    <td>
      <img src="{{ hostOfStatic }}/email/payment-success-icon.png" width="32" height="32" hspace="3" style="display: block; vertical-align: middle; margin: 0 auto; margin-top: 23px;">
    </td>
  </tr>
  <tr>
    <td style="padding-top: 15px; padding-right: 0; padding-left: 0; padding-bottom: 15px; text-align: center;">
      <font color="#dbe6ff" style="font-size: 15px; color: #dbe6ff; letter-spacing: 0.4px;">
        Войдите в ваш аккаунт
      </font>
    </td>
  </tr>
  <tr>
  <td style="display: block; padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; margin-bottom: 30px; border-width: 1px; border-color: #494f5e; border-style: solid; border-radius: 10px; line-height: 1.47">
    <font color="#dbe6ff" style="font-size: 15px; letter-spacing: 0.4px;">
      Добро пожаловать в Хоук!<br>
      <br>
      Ниже — данные для входа в аккаунт. Используйте этот пароль для первого входа, позже вы сможете изменить его в настройках.<br>
      <br>
      Пароль: <font style="font-weight: bold;">{{ password }}</font>
    </font>
  </td>
</tr>
  <tr>
    <td style="padding-right: 20px;padding-left: 20px;padding-bottom: 40px;">
      {% include '../../components/button.twig' with {href: host ~ '/login?emailPrefilled=' ~ email, label: 'Войти'} %}
    </td>
  </tr>

{% endblock %}