name: Build and deploy

on: [push]

env:
  DOCKER_IMAGE_NAME: hawk-workers
  DOCKERHUB_USER: codexteamuser

jobs:
  build_and_deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get branch name
        uses: nelonoel/branch-name@v1

      - name: Build docker image for stage
        if: endsWith(github.ref, '/stage')
        run: |
          docker build -t ${DOCKER_IMAGE_NAME} --build-arg WORKER_NAME=hawk-worker-grouper .

      - name: Build docker image for prod
        if: endsWith(github.ref, '/prod')
        run: |
          docker build -t ${DOCKER_IMAGE_NAME} --build-arg WORKER_NAME=hawk-worker-grouper .

      - name: Push docker image for stage
        if: endsWith(github.ref, '/stage')
        run: |
          docker tag ${DOCKER_IMAGE_NAME} $DOCKERHUB_USER/${DOCKER_IMAGE_NAME}:$BRANCH_NAME
          docker login -u $DOCKERHUB_USER -p ${{ secrets.DOCKER_PASSWORD }}
          docker push $DOCKERHUB_USER/${DOCKER_IMAGE_NAME}:$BRANCH_NAME
          docker logout

      - name: Push docker image for prod
        if: endsWith(github.ref, '/prod')
        run: |
          docker tag ${DOCKER_IMAGE_NAME} $DOCKERHUB_USER/${DOCKER_IMAGE_NAME}:$BRANCH_NAME
          docker login -u $DOCKERHUB_USER -p ${{ secrets.DOCKER_PASSWORD }}
          docker push $DOCKERHUB_USER/${DOCKER_IMAGE_NAME}:$BRANCH_NAME
          docker logout
