name: Tests

on:
  push:
    branches-ignore:
      - prod
      - master

jobs:
  lint:
    name: Unit testing
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
      - run: yarn install
      - run: yarn test
